@model ItemCargaViewModel;

@{
    Layout = "~/Views/Shared/Modal.cshtml";
}

@section header{
<h1 class="display-4 text-center">Detalle</h1>
}
@if (Model.Carga is not null)
{

    <div class="col-sm-12">
        <div class="card shadow p-3 bg-secondary" style="20rem;">
            @if (Model.Carga.estadoAlmacenCorto == "almacen")
            {
                <h4><span class="badge bg-success">@Model.Carga.estadoAlmacenCompleto</span></h4>
            }
            else
            {
                <h4><span class="badge bg-danger">@Model.Carga.estadoAlmacenCompleto</span></h4>

            }
            <div class="card-header text-center"><h4><b>Folio:</b></h4> <h4>@Model.Carga.folioCarga</h4> <hr style="background-color:white" /></div>
            <div class="container">
                <h5 class="card-title float-left"><b> Residuo: </b></h5>
                <p class="card-text text-center">
                    @Model.Carga.nombreResiduo
                </p>
                <h5 class="card-title float-left"><b> Responsable al cargar: </b> </h5>
                <p class="card-text text-center">
                    @Model.Carga.nombreEmpleado @Model.Carga.apellidoPaterno
                </p>

                <h5 class="card-title float-left"><b>   Codigo empleado: </b> </h5>
                <p class="card-text text-center">
                    @Model.Carga.numeroEmpleado
                </p>
                <hr style="background-color:white" />

                <h5 class="card-title text-center"><b> Peso : </b> </h5>
                <p class="card-text text-center">
                    BRUTO: @Model.Carga.pesoBrutoCarga kg |
                    TARA: @Model.Carga.pesoContenedorCarga kg |
                    NETO: @{
                        var pesoNeto = Model.Carga.pesoBrutoCarga - Model.Carga.pesoContenedorCarga;
                    } @Math.Round(Convert.ToDecimal(pesoNeto),2) kg
                </p>
                <hr style="background-color:white" />
                @if (Model.Carga.comentarioCarga != ""  )
                {
                    <h5 class="card-title float-left"><b> Comentario: </b> </h5>
                    <p class="card-text text-center">
                        @Model.Carga.comentarioCarga
                    </p>
                }

                <h5 class="card-title float-left"><b> Fecha en que se cargo: </b></h5>
                <p class="card-text text-center">
                    @Model.Carga.fechaCreacionCarga
                </p>
                <h5 class="card-title text-center"><b> Fecha de modificacion: </b></h5>

                @if (Model.Carga.fechaModificacion is null)
                {
                    <p class="card-text text-center">
                        No se ha modificado
                    </p>

                }
                else
                {
                    <p class="card-text text-center">
                        @Model.Carga.fechaModificacion
                    </p>
                }

                @if (Model.Carga.estadoAlmacenCorto == "enviado")
                {
                    <hr style="background-color:white" />
                    <div class="d-flex justify-content-center">
                        <div class="card bg-danger" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center text-light">Detalle Envio </h5>
                                <p class="text-center text-light">   Recojido por: @Model.Carga.nombreProveedorBasura</p>
                                <p class="text-center text-light">   Fecha de envio: <br> @Model.Carga.fechaEnvio </p>
                                <p class="text-center text-light">   Folio de embarque : <br> @Model.Carga.folioDocumentoEmbarque </p>
                               
                                <p class="text-center text-light">  <a target="_blank" type="button" class="btn btn-secondary text-center" href="/Embarque/MostrarPDFDesign/@Model.Carga.idEmbarque">Ver documento</a></p>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Carga.estadoAlmacenCorto == "almacen")
                {
                    <hr style="background-color:white" />
                    <div class="d-flex justify-content-center">
                        <div class="card bg-success" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center text-light">Detalle Almacenado</h5>
                                <p class="text-center">   Esta en almacen: @Model.Carga.nombreAlmacen</p>
                                <p class="text-center">   Fecha de la carga: <br> @Model.Carga.fechaCreacionCarga rrrr </p>
                            </div>
                        </div>
                    </div>
                }




            </div>
        </div>
    </div>



}
else
{
    <div class="alert alert-warning text-center" role="alert">
        Los datos no se cargaron
    </div>
}

@section footer{
<button class="btn btn-block btn-primary" type="button" data-dismiss="modal">Ok!</button>
}


