@model ItemCargaViewModel;
@{
    Layout = "~/Views/Shared/_Modal.cshtml";
}


@section header{
    <link href="~/assets/personal_style/CrearEmpleadoStylesheet.css" rel="stylesheet" />
    <h1 class="display-4 float-right">Editar Carga</h1>
}

@if (Model.Carga is not null)
{
    <form id="form-actualizar-carga">
        <input type="hidden" id="idCarga"   name="idCarga"   value="@Model.Carga.idCarga" />
        <input type="hidden" id="idResiduo" name="idResiduo" value="@Model.Carga.idResiduo" />
        <input type="hidden" id="idUsuario" name="idUsuario" value="@Model.Carga.idEmpleado" />

        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Peso Bruto</span>
                </h5>
            </label>
            <input type="text" class="form-control" id="pesoBruto" name="pesoBruto"
                   value="@Model.Carga.pesoBrutoCarga">
        </div>
        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Peso Contenedor </span>
                </h5>
            </label>
            <input type="text" class="form-control" id="pesoContenedor" name="pesoContenedor"
                   value="@Model.Carga.pesoContenedorCarga " />
        </div>
        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Comentario </span>
                </h5>
            </label>
            <input type="text" class="form-control" id="comentarioCarga" name="comentarioCarga"
                   value="@Model.Carga.comentarioCarga" />
        </div>
        <div class="form-group">
            <input type="checkbox" id="eliminarCheck" name="eliminarCheck" />
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">¿Desea eliminar esta carga?</span>
                </h5>
            </label>
        </div>

        <button type="button" class="btn btn-block btn-info" id="btn-actualizar-carga">Guardar cambios</button>
    </form>
}
else
{
    <div class="alert alert-warning">
        Upsss no llego la informacion problema no llego del API
    </div>
}


@section Scripts{

    <script type="text/javascript" src="~/Scripts/CargaController/EditarCarga.js"></script>
}
