@model ItemEditarUsuarioViewModel;
@{
    Layout = "~/Views/Shared/_Modal.cshtml";
}


@section header{
 <h1 class="display-4 float-right">Editar usuario</h1>
}

@if (Model.itemUsuario is not null)
{
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
               placeholder="Escriba su nombre" value="@Model.itemUsuario.nombre">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Apellido Paterno </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
               placeholder="Escriba su apellido paterno" value=" @Model.itemUsuario.cApellidoPaterno " />
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Apellido Materno </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
               placeholder="escriba el apellido materno" value=" @Model.itemUsuario.apellidoMaterno ">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Numero de empleado </label>
            <input type="number" class="form-control" id="exampleFormControlInput1"
               placeholder="escriba el numero empleado" value="@Model.itemUsuario.numeroEmpleado">
        </div>
        <div class="form-group">

            <label for="exampleFormControlSelect1">Tipo de usuario</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>@Model.itemUsuario.catTipoUsuarioDTO.nombre</option>
                @foreach (var rol in Model.tiposUsuario)
                {
                    <option>@rol.cNombre</option>
                }


            </select>
        </div>
    </form>

}



@section footer{
<button class="btn btn-primary" type="button" id="btnGuardar">Guardar</button>
}


