@model ItemEditarUsuarioViewModel;
@{
    Layout = "~/Views/Shared/_Modal.cshtml";
}


@section header{
<h1 class="display-4 float-right">Editar usuario</h1>
}

@if (Model.itemUsuario is not null)
{
    <form>
        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Nombre</span>
                </h5>
            </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
               value="@Model.itemUsuario.nombre">
        </div>
        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Apellido Paterno</span>
                </h5>
            </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
               placeholder="Escriba su apellido paterno" value=" @Model.itemUsuario.cApellidoPaterno " />
        </div>
        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Apellido Materno</span>
                </h5>
            </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
               value=" @Model.itemUsuario.apellidoMaterno ">
        </div>
        <div class="form-group">
            <label class="bmd-label-floating">
                <h5>
                    <span class="tim-note text-dark">Numero de empleado</span>
                </h5>
            </label>
            <input type="number" class="form-control" id="exampleFormControlInput1"
               value="@Model.itemUsuario.numeroEmpleado">
        </div>
        <div class="form-group">

            <label for="exampleFormControlSelect1">Tipo de usuario</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>@Model.itemUsuario.catTipoUsuarioDTO.nombre</option>
                @foreach (var rol in Model.tiposUsuario)
                {
                    <option>@rol.cNombre</option>
                }


            </select>
        </div>
    </form>

}



@section footer{
<button class="btn btn-primary" type="button" id="btnGuardar">Guardar</button>
}


